body
{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}

#pageContent
{
    width: 80%;
    min-height: 4000px;
    max-height: 10000px;
    background-color: rgb(255, 255, 255);
    position:relative;
    top: 0px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

h1
{
    font-size: 30px;
    text-align: center;
}

#costContainer
{
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;

    border-radius: 25px;;
    padding: 10px;
    float: right;
    margin-right: 20px;
    margin-top: -90px;
}

#totalText

#total
{
    color: red;
    font-size: 19px;
}

h2
{
    text-align: center;
}

#barcodeContainer
{
    display: block;
}

#add
{
    display: block;
}

.item
{
    width: 300px;
    height: 250px;

    height: 200px;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 10px;
    margin: 0 auto;
}

#cartSection
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.image
{
    object-fit: cover;
    width: 80px;
    margin-left: 33%;
    margin-top: -15px;
}

.quantityBox
{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    margin-top: -20px;
}

.quantityText
{
    display: inline-block;
    padding: 10px;
}

/* *{border: 1px solid black;} */